/* Topography
*/

body{
    padding: 10%;
    font-size: 2rem;
    color: purple;
    font-family: cursive;
}


input,button{
    font: inherit;
}

p{
    text-decoration: underline;
    text-decoration: overline;
    text-decoration: line-through;
    text-transform: capitalize;
    text-align: justify;
    line-height: 1.5;
    letter-spacing: 0.1em;

    
}