@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  padding: 5% 10%;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}


ol{
  /* list-style-type: disc; */

  /* list-style-type: upper-roman; */

  /* list-style-type: lower-alpha; */

  list-style-type: none;

  padding: 0;
}

ul{
  text-align: center;
  list-style-type: square;
  /* list-style-image: url("../images/checkmark.png"); */
  list-style-position: inside;
  color: blue;
  line-height: 1.6;
}

ul li{
  color: red;
}

ol li{
  color: green;
}

ul li:nth-child(2){
  color: blueviolet;
}

::marker{
  color: black;
  font-family: fantasy;
  font-size: 1em;
  content: "only $5 >>  ";
}